<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RotationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34ACA3B21E59BA560063D6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34ACA3C61E59BA570063D6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34ACA3D11E59BA570063D6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
